
.subtotal{
    width:300px;
    height:100px;
    background-color:white;
    padding: 20px;
    border:1px solid black;
    border-radius: 3px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtotal--gift{
    display: flex;
    align-items: center;

}

.subtotal--gift input{
    margin-right: 5px;
}

.subtotal button{
    background-color: #F7CA00;
    height: 30PX;
    border: 1px solid;
    border-color: #9b8212;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}

